@import '~zp-styles/common/_colors.scss';

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 10px;
  border: 1px solid $border;
  border-radius: 5px;
  padding: 5px 12px;
  margin-bottom: 10px;
  input {
    flex: 1;
    font-size: 15px;
    color: $defaultText;
    border-width: 0px;
  };
  img {
    width: 25px;
    margin-left: 10px;
    color: $border;
  };
}